
body {
  background-color: #292929;
   background-image: url(../img/adornos-boda-dibujados-mano.png);
    background-repeat: no-repeat;
  background-position: top;

  min-height: 100vh
}

.navbar {
  background-color: transparent;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}